<div align="center">
  <h4>Listing Article</h4>
</div>

<%= form_tag(articles_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Article" %>
  <div align="right" style="margin-right: 55px;">
    <%= button_tag(type: "submit", class: "btn btn-floating btn-large pulse red accent-2") do %>
      <i class="material-icons">search</i>
    <% end %> 
  </div>
<% end %>
<br />

<% unless @articles.blank? %>

<!-- @articles adalah instance variable dari controller dan diparsing di view. -->
<!-- do |article| adalah article variable dari @article -->
<% @articles.each do |article| %>

  <div class="divider"></div>
  <div class="section">
    <h5><%= link_to article.title, article_path(article) %></h5>
    <p>
      <%= raw article.body.truncate(160) %>
      <%= link_to "Read More..", article_path(article) %>
      <br />
    </p>
  </div>

  <%= link_to t('forms.buttons.edit'), edit_article_path(article)%> |
  <%= link_to 'destroy', article_path(article), method: "DELETE", data: { confirm: 'Are you sure?' } %>
<% end %>
  <% else %>
    Article not found
  <% end %>
<br />

<div align="right" style="margin-right: 50px;">
  <%= link_to raw("<i class=\"material-icons\">edit</i>"), new_article_path, class: "btn btn-floating btn-large pulse red accent-2" %>
</div>

<div align="center">
  <%= will_paginate @articles %>
</div>